# Uncomment and fill in your database URL if using DATABASE_URL directly:
# DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME

# Generate a secret key using the following command:
# python -c "from django.core.management.utils import get_random_string; print(get_random_string(50))"
SECRET_KEY=

DEBUG=True
POSTGRES_DB =
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=127 0.0.1
DB_PORT=5432
MODE=dev
ALLOWED_HOSTS=.localhost,.127.0.0.1
DISABLE_COLLECTSTATIC=1